html
  header.navbar-fixed-top
    nav
        ul
            li
                a(href='/') Home
            li
                a(href='/aboutme') About Me
            li
                a(href='/contactme') Contact me
            li
                a(href='/projects') Projects
            li
                a(href='/services') Services