extends layout

block content
  h1= title
  p Welcome to #{title}
  p
  // this is my intro portion where i tell about myself and my activities.
  h1 Intro
  p <img src="../images/pic/my.jpg" width="200">
  p  Hi!! My name is Sushant Jain, a computer analyst student . This is my last semester and finally completing my computer language studies. I started my studies in May,2018 when i decided to come in georgian college for my higher studies. When i started my education, i have problems in some courses but i scored and moved in next terms.

 
