doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')

    include .././partials/header.pug

  body
    block content

    include .././partials/footer.pug