extends layout

block content
  h1= title
  // this is page where i gave some of my other activies which i done during course and outside of my studies.
  p Welcome to #{title}

   p I already said that I am still student in georgian college and learning languages and made sites with different languages.I made some sities in php and html, css and some of them uploaded on github.