extends layout

block content

  h1= title
  // this a page where i explain my all work experience i did after i came here to till now.
  p Welcome to #{title}
  p I am a computer student but still i didnot get any chance to work in computer field but apart from that I have other experiences. I like to share my few experiances .
  b Domino's 
  p I am working as a team member and driver at Domino's wasaga beach on mosely street.
  b Warehouse
  p i worked as stocker in warehouse located in barrie on caplan avenue. 