body {
    padding: 50px;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../images/pic/backwall.jpg");
    background-size: cover;
}

a {
    color: black;
}

 a:hover {
        color: #00B7FF;
    }

 a.btn.btn-success{
     color: black;
 }
